{% extends 'base.html' %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block content %}
  <div class="row row-cols-md-3 g-4  style="width:50%; height:500px; margin: auto;", class="pt-4" ">
    <div class="col">
      <div class="card">
        <img src="{% static 'images/01.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">BeaverTails</h1>
          <p class="">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/2.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Breakfast Potatoes</h1>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/3.jpg'%}"  class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Canadian Butter Tarts</h1>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.This content is a little bit longer</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/4.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Montreal Smoked Meat</h1>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card">
        <img src="{% static 'images/5.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Nanaimo Bars</h1>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/6.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Pate Chiniois</h1>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/7.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Puding Chomeur</h1>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/8.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Poutine</h1>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/9.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Rappie Pie</h1>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="{% static 'images/10.jpg'%}" class="card-img-top" alt="...">
        <div class="card-body">
          <h1 class="card-title">Split Pea Soup</h1>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}